<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Authenticate</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <div class="container">
    <div class="jumbotron text-center">
        <h1>Node Authentication</h1>
        <p>Login or Register with:</p>
        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Local Loging</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Singup</a>
    </div>

    <div class="text-center">
      <p>Authenticate app by FVI Gang</p>
    </div>



  </div>

</body>
</html>
